.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 120px;
background-image: url(/public/imgs/info1.jpeg);
background-size: cover;
background-position: center;
}

.start h1{
    color: white;
 font-size: 50px;
    font-weight: 900;
    font-family: "Host Grotesk", sans-serif;
    text-shadow: 2px 2px 10px black;
}

.start h2{
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-shadow: 2px 2px 10px black;
}

.info2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 50px;
      font-family: "Host Grotesk", sans-serif;
}

.info2 h1{
    font-size: 40px;
    font-weight: 900;
   padding: 30px;
}

.info2 h2, ul{
    margin-bottom: 20px;
}

.info2 h4{
    font-size: 20px;
    font-weight: 900;
    font-family: "Host Grotesk", sans-serif;
    margin-top: 90px;
    margin-bottom: -100px;
}

.info2 img{
    margin-bottom: -40px;
}




.form-wrapper {
  max-width: 800px;
  margin: 50px auto;
  background: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
  display: block;   
  margin-top: 20px;
  font-weight: 600;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.row {
  display: flex;
  gap: 20px;
}

.row > div {
  flex: 1;
}

.checkbox-group {
  margin-top: 15px;
}

.checkbox-group label {
  font-weight: normal;
  display: flex;
  gap: 8px;
  margin-bottom: 6px;
  justify-content: flex-start;
}

.formslut label{
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    display: flex;
    
}

.formslut{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    gap: 5px;
}



@media (max-width: 767px) {

.info2{
    padding: 50px;

}}
