---
import Layout from "../../layouts/Layout.astro";
import Button from "./components/Button.astro";
import "./css/header.css";
import "./css/main.css";
---


<Layout>
    <h1>hejsa</h1>
    
</Layout>